# 



aiohttp
aiosignal
annotated-types
anyio
asgiref
asttokens
attrs
av
backoff
bcrypt
beautifulsoup4
bs4
build
cachetools
certifi
chardet
charset-normalizer
chroma-hnswlib
chromadb
click
colorama
coloredlogs
comm
ctranslate2
dataclasses-json
debugpy
decorator
deepdiff
Deprecated
dirtyjson
distro
emoji
executing
fastapi
faster-whisper
filelock
filetype
flatbuffers
frozenlist
fsspec
google-auth
googleapis-common-protos
greenlet
grpcio
grpcio-tools
gTTS
h11
h2
hpack
httpcore
httptools
httpx
huggingface-hub
humanfriendly
hyperframe
idna
importlib-metadata
importlib_resources
ipykernel
ipython
jedi
Jinja2
joblib
jsonpatch
jsonpath-python
jsonpointer
jupyter_client
jupyter_core
kubernetes
langchain
langchain-community
langchain-core
langchain-text-splitters
langdetect
langsmith
llama-index
llama-index-agent-openai
llama-index-cli
llama-index-core
llama-index-embeddings-huggingface
llama-index-embeddings-openai
llama-index-indices-managed-llama-cloud
llama-index-legacy
llama-index-llms-ollama
llama-index-llms-openai
llama-index-multi-modal-llms-openai
llama-index-program-openai
llama-index-question-gen-openai
llama-index-readers-file
llama-index-readers-llama-parse
llama-index-vector-stores-chroma
llama-index-vector-stores-qdrant
llama-parse
llamaindex-py-client
lxml
MarkupSafe
marshmallow
matplotlib-inline
mmh3
monotonic
mpmath
multidict
mypy-extensions
nest-asyncio
networkx
nltk
numpy
oauthlib
onnxruntime
openai
opentelemetry-api
opentelemetry-exporter-otlp-proto-common
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-instrumentation
opentelemetry-instrumentation-asgi
opentelemetry-instrumentation-fastapi
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
opentelemetry-util-http
ordered-set
orjson
overrides
packaging
pandas
parso
pillow
platformdirs
portalocker
posthog
prompt-toolkit
protobuf
psutil
pulsar-client
pure-eval
pyasn1
pyasn1-modules
PyAudio
pydantic
pydantic_core
pygame
Pygments
PyMuPDF
PyMuPDFb
pypdf
PyPika
pyproject_hooks
pyreadline3
python-dateutil
python-dotenv
python-iso639
python-magic
pytz
PyYAML
pyzmq
qdrant-client
rapidfuzz
regex
requests
requests-oauthlib
rsa
safetensors
scikit-learn
scipy
sentence-transformers
setuptools
six
sniffio
soupsieve
SQLAlchemy
stack-data
starlette
striprtf
sympy
tabulate
tenacity
threadpoolctl
tiktoken
tokenizers
tornado
tqdm
traitlets
transformers
typer
typing-inspect
typing_extensions
tzdata
unstructured
unstructured-client
urllib3
uvicorn
watchfiles
wcwidth
websocket-client
websockets
wrapt
yarl
zipp
pyaudio
python-dotenv
simpleaudio
pinecone-client
streamlit-webrtc 
av 
numpy 
scipy